<h3>New Landmark Maker</h3>

<form action="/landmarks" method="POST">
 
    Landmark Name: <input type="text" name="landmark[name]" id="landmark_name"><br>
    Landmark Year Created: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>
    
  <input type="submit" value="Create New Landmark">
</form>